# Environments
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
backend/venv/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.log
*.iml
.idea/

# OS specific
.DS_Store
Thumbs.db
